/* reset, html, and body styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background: no-repeat center/100% url(../images/rusticWoodBackground.jpg);
  height: 100vh;
}

/* top content */
.top-content {
  display: flex;
  justify-content: space-between;
  padding: 3rem 10rem;
}
.coffee-box, .food-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  position: relative;
  
}
.content-heading {
  font-size: 3.5rem;
  color: hsl(60, 100%, 50%);
  /* position: absolute; */
  /* top: 5rem;
  left: center; */
  /* z-index: 3; */
}
.content-heading:hover {
  color: hsl(60, 100%, 90%);

}
.content-heading:active {
  color: hsl(60, 100%, 50%);

}
.coffee, .plate {
  width: 20rem;
  height: auto;
}
.about-me, .likes-interests {
  display: none;
}
.coffee {
  rotate: 135deg;
}
.plate {
  margin-bottom: 1rem;
}
.food {
  width: 14rem;
  height: auto;
  position: absolute;
  top: 2rem;
  left: 3rem;
  z-index: 2;
}

/* center content */
.center-content {
  display: flex;
  justify-content: center;
  padding: 3rem 10rem;
}
.tablet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27.4rem;
  height: 17.51rem;
  background-color: hsl(0, 0%, 0%);
  border: 0.5rem solid hsl(223, 3%, 46%);
  border-radius: 1rem
}
.tablet-name {
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
}


