/* variables */
:root {
  --animateTransition: 1.5s;
  --tabletHeight: 15rem;
}

/* reset, html, and body styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: no-repeat center/100% url(../images/rusticWoodBackground.jpg);
  height: 100vh;
}


/* common styles */
h2 {
  font-size: 3.5rem;
}
.highlight {
  color: hsl(0, 0%, 0%);
  background-color: yellow;
}

/* table styles */
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* padding: 3rem 0; */
}

.top-content,
.center-content,
.bottom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33.3%;
  padding: 5rem 10rem;
}

/* information container styles */
.top-content .anim-order {
  transform: scale(10);
  position: fixed;
  top: 50%; 
  right: 50%; 
  left: 50%; 
  bottom: 50%;
  margin:auto;
  z-index: 10;
}
.anim-order > section,
.anim-order > h2, 
.anim-order > p {
  transform: scale(calc(1/10));
}
.anim-food {
  transform: translate(10rem, -10rem);
}

.anim-tablet {
  position: fixed;
  top: -100%; 
  right: -100%; 
  left: -100%; 
  bottom: -100%;
  margin:auto;
  transform: scale(5);
  z-index: 10;
}
.anim-tablet > * {
  transform: scale(calc(1/5))
}



/* top content */
.top-content {
  /* display: flex; */
  justify-content: space-between;
  position: absolute;
  top: 0;
}
/* .for-alignment {
  position: relative;
} */
.coffee-box, .food-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 17rem;
  height: fit-content;
  position: relative;
  transition: var(--animateTransition);
  z-index: 5;
}

.coffee-box {
  top: 0;
  left: 0;
}
.food-box {
  top: 0;
  right: 0;
} 

.table-section-heading {
  text-align: center;
  /* font-size: 3.5rem; */
  color: hsl(240, 100%, 50%);
  position: absolute;
  top: 5rem;
  z-index: 3;
}
.table-section-heading:hover {
  color: hsl(240, 100%, 30%);
  cursor: pointer;

}
.table-section-heading:active {
  color: hsl(240, 100%, 50%);

}
.coffee, .plate {
  width: 100%;
  height: auto;
}
.coffee {
  rotate: 80deg;
}
.food {
  width: 70%;
  height: auto;
  position: absolute;
  top: 2rem;
  left: center;
  z-index: 3;
  transition: 0.5s;
}

.table-section {
  position: absolute;
  width: 300%;
}

.table-section p {
  /* position: absolute; */
  font-size: 3rem;
  z-index: 2;
}
.table-section h2 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.about-me {
  color: hsl(0, 0%, 100%);
}

.likes-interests {
  color: hsl(0, 0%, 0%);
}


/* center content */
/* .center-content {
  display: flex;
  justify-content: center;
  align-content: center; */
  /* height: var(--tabletHeight);
} */
.tablet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: var(--tabletHeight);
  background-color: hsl(0, 0%, 0%);
  border: 5px solid hsl(223, 3%, 46%);
  border-radius: 1rem;
  transition: var(--animateTransition);
  z-index: 5;
}
.tablet-name {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
}

/* .tablet:hover {
  transform: scale(4);
  position: fixed;
  top: -100%; 
  ight:-100%; 
  left:-100%; 
  bottom:-100%;
  margin: auto;
  z-index: 20;
  
} */


/* bottom content  */
/* .bottom-content {
  display: flex;
  justify-content: center;
} */
.sound-box {
  display: flex;
  justify-content: center;
  width: 35rem;
  position: relative;
  z-index: 3;
}
.headphones {
  width: 100%;
  height: auto;
}
.play-and-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 6rem;
  /* left: 5rem; */
  border: 2rem solid hsl(275, 100%, 25%);
  border-radius: 50%;
  background-color: hsl(120, 100%, 50%);
  width: 17rem;
  height: 17rem;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  /* z-index: 2; */
}
.background-audio {
  display: none;
  position: absolute;
  top: 10rem;
  left: 4rem;
  /* border-radius: 50%;
  width: 30rem;
  height: 30rem; */
}


.back-to-table {
  position: fixed;
  bottom: 1.5rem;
  border: none;
  border-radius: 9999px;
  padding: 1.5rem 2.5rem;
  background-color: hsl(0, 100%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  z-index: 15;
}
.back-to-table:hover {
  background-color: hsl(0, 100%, 60%);
}
.back-to-table:active {
  background-color: hsl(0, 100%, 27%);
}



/* javascript classes */
.hide-content {
  display: none;
}
.show-content {
  display: inline-block;
}